/************************TAG SELECTORS************************/

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

/************************CLASS SELECTORS************************/

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.diceFightButton {
  background-color: #9C060C;
  color: #EEEEEE;
  font-family: 'Indie Flower', cursive;
}

.diceFightButton:focus {
  background-color: #F0F0FF;
  color: #393E46;
}

.diceFightButton:hover {
  background-color: #4ECCA3;
  color: #000000;
}

.diceButton {
  padding: 0 0 3% 0;
}

.dice {
  text-align: center;
  display: inline-block;
}

/************************ID SELECTORS************************/
